.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: black;
}
.App-logo {
  /* height: 40vmin; */
  height: 50%;
  width: 50%;
  pointer-events: none;
  /* z-index: 1; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

/* .App-header {
  background-color: #3f7cf5;
  background-image: url("./sun.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-attachment: fixed;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-me {
  font-size: 2rem;
  color: rgb(68, 13, 119);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.education {
  font-size: 2rem;
  color: rgb(68, 13, 119);
  line-height: 0.7;
  text-decoration: none;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.tedi {
  font-size: 3.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  color: rgb(138, 18, 251);
}

.my-work {
  font-size: 2.5rem;
  color: rgb(68, 13, 119);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card-collection {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.card {
  text-align: left;
  color: rgb(83, 2, 126);
  /* color: rgb(250, 124, 124); */
  background-color: antiquewhite;
  padding: 1.2rem;
  margin: 1.5rem;
  border: solid 1px rgb(250, 124, 124);
  border-radius: 10px;
  text-decoration: none;
  max-width: 300px;
}

.card:hover,
.card:active,
.card:focus {
  color: rgb(250, 124, 124);
  background-color: white;
}

.cluster {
  /* border: solid 1px rgb(216, 157, 250); */
  display: flex;
  padding: 1.5rem;
  z-index: 1;

  /* background-color: rgb(255, 3, 188); */
}

.web {
  /* background-color: rgb(53, 18, 43); */
  background-color: rgb(254, 7, 73);
}

.non-web {
  /* background-image: url("./chili-pepper.jpg"); */
  background-size: contain;
  background-color: rgb(255, 3, 188);
  opacity: 0.9s;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  /* height: 30vh; */
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 70vh;
}

.skill-card {
  border: solid 1px purple;
  border-radius: 10px;
  background-color: rgb(248, 5, 119);
  color: rgb(68, 13, 119);
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  /* background-color: #61dafb; */
}

.skill-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: absolute;
  max-width: 30%;
  z-index: 5;
}

.topic-card {
  border: solid 1px purple;
  border-radius: 10px;
  background-color: rgb(241, 201, 177);
  color: rgb(68, 13, 119);
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1rem;
}

.nav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*
  position: absolute;
  top: 1%;
  left: 1%; */
  z-index: 13;
}

.topic-card:hover,
.topic-card:active,
.topic-card:focus {
  background-color: antiquewhite;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 0.5rem;
  /* position: absolute;
  left: 46.5%;
  height: 30vh; */
  z-index: 6;
  background-image: linear-gradient(rgb(255, 3, 188), red);
}

.contact-link {
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
}

.spotlight {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  color: white;
  font-size: 1.7rem;
  position: absolute;
  top: 15%;
  left: 40%;
  width: 20%;
}

@media only screen and (max-width: 900px) {
  .card-collection {
    /* display: flex; */
    flex-direction: row;
  }
  .cluster {
    width: 100%;
  }
  .contact-me {
    width: 100%;
    position: absolute;
    top: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container {
    /* display: flex; */
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    /* height: 30vh; */
    width: 100%;

    /* height: fit-content; */
    /* position: absolute; */
    top: 60vh;
  }
  .spotlight {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    color: white;
    font-size: 1.7rem;
    position: absolute;
    top: 5%;
    left: 40%;
    width: 20%;
  }

  .skill-collection {
    top: 10vh;
  }

  .App-logo {
    /* height: 40vmin; */
    height: 70%;
    width: 70%;
    pointer-events: none;
    /* z-index: 1; */
  }

  .skill-card {
    /* border: solid 1px purple;
    border-radius: 10px;
    background-color: rgb(248, 5, 119);
    color: rgb(68, 13, 119);
    padding: 1rem;
    margin: 0.5rem; */
    font-size: 0.8rem;
    /* background-color: #61dafb; */
  }

  body {
    background-color: black;
  }
}

@media only screen and (max-width: 600px) {
  .card-collection {
    flex-direction: row;
  }

  .container {
    top: 45vh;
  }

  .contact-me {
    width: 100%;
    top: 95%;
    flex-direction: row;
    align-items: center;

    justify-content: center;
  }

  /* .nav-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 5;
  } */
}

@media only screen and (max-width: 400px) {
  .card-collection {
    flex-direction: column;
  }

  .container {
    top: 40vh;
  }

  /* .nav-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 5;
  } */

  .App-logo,
  .spotlight {
    width: 90%;
  }

  .spotlight {
    left: 8%;
    top: 10%;
  }

  .skill-collection * {
    margin: 0.2rem;
    padding: 0.3rem;
  }
}
